--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
numpy
matplotlib
opencv-python
toml
open3d
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@main